<h1>Listing web_properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @web_properties.each do |web_property| %>
      <tr>
        <td><%= web_property.name %></td>
        <td><%= web_property.url %></td>
        <td><%= web_property.user_id %></td>
        <td><%= link_to 'Show', web_property %></td>
        <td><%= link_to 'Edit', edit_web_property_path(web_property) %></td>
        <td><%= link_to 'Destroy', web_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web property', new_web_property_path %>
