<p id="notice"><%= notice %></p>

<div class="media-body">>
  <h4 class="media-heading">
    Name:</h4>

  <%= @web_property.name %>
</div>

</p>

<p>
  <strong>Url:</strong>
  <%= @web_property.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @web_property.user_id %>
</p>

<%= link_to 'Edit', edit_web_property_path(@web_property) %> |
<%= link_to 'Back', web_properties_path %>
